html,body {
    margin: 0;
    padding: 0;
}
.slider {
    width: 1185px;
    height:400px;
    margin: 2em auto;

}

.slider-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
}

.slide {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
    opacity: 1;
}